/* MAIN STYLE */
button{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    margin: .3rem;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    background-color: #000;
    border-radius: 1rem;
    padding: 1rem;
    width: 70%;
    margin: auto;
}

.result{
    color: #fff;
    text-align: right;
    margin-right: 1.5rem;
    font-size: 3rem;
}


/* BOTÕES */
.reset{
    background: #505050;
}

.operators{
    background: #FF9500;
    color: #fff;
}

.operators:focus{
    background: #FFFFFF;
    color: #FF9500;
}

.numbers{
    background: #1C1C1C;
    color: #D4D4D2;
}

.numbers:focus{
    background: #929292;
}

.zero{
    width: 3rem;
    height: 3rem;
    width: 38%;
    background: #1C1C1C;
    color: #D4D4D2;
}

.zero:focus{
    background: #929292;
}
