h2{
    color: #fff;
}

button{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    margin: .2rem;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    background-color: #000;
    border-radius: 1rem;

}